# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Gradle
.gradle/
build/
.kotlin/

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Android Studio Captures
/captures/

# Keystore files
*.jks
*.keystore

# Google Services file
google-services.json

# Bundle and APK files
*.apk
*.aab

# Temp files
*.swp
*~
.DS_Store

# NDK
.externalNativeBuild
.cxx

# Generated artifacts
.artifacts/
